#page-mod-allocationform-view div.option, #page-mod-allocationform-view div.allocation_box {margin-bottom: 1em;}
#page-mod-allocationform-view div.allocation_box ul {color: black;}
#page-mod-allocationform-view p.saved {color: green; font-size: 1.2em;}

#mod_allocationform_state ol{
    padding: 1em; 
    list-style-type: decimal;
}
#mod_allocationform_state ol li {
    float: left;
    margin: 0 1em;
    padding: 0 1em;
}
